<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Login</h1>
<p style="color: red;" th:if="${param.error}">Invalid username or password.</p>
<form method="post" th:action="@{/login}">
    <label for="username">Username:</label>
    <input id="username" name="username" required type="text">
    <br>
    <label for="password">Password:</label>
    <input id="password" name="password" required type="password">
    <br>
    <button type="submit">Login</button>
</form>
</body>
</html>