<!DOCTYPE html>
<html lang="fr"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12 text-right">
            <a href="/home">Home</a>&nbsp;|&nbsp;
            Logged in user: <b class="user" sec:authentication="name" th:inline="text"></b>
            <form method="POST" th:action="@{/app-logout}">
                <input type="submit" value="Logout"/>
            </form>
        </div>
    </div>
    <div class="row"><h2>User List</h2></div>
    <div class="row">
        <a class="btn btn-primary btn-sm" href="/home/admin/user/add">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>User Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${users}">
                <td style="width: 10%" th:text="${user.id}"></td>
                <td th:text="${user.fullname}"></td>
                <td th:text="${user.username}"></td>
                <td style="width: 25%" th:text="${user.role}"></td>
                <td class="text-center" style="width: 15%">
                    <a th:href="@{/home/admin/user/update/{id}(id=${user.id})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/home/admin/user/delete/{id}(id=${user.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>